ul li, footer ul li {
    display: inline;
    margin-right: 10px;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a:link {
    color: #00FF00;
}
a:visited {
    color: #00FF00;
}
a:active {
    color: #0000FF;
}
body {
	background-color: #7d3619;
	font-family:'Helvetica', 'Arial', 'Sans-Serif';
}