---
layout: parent
---		
		<body>
		
		<center><h1>{{page.title}}</h1></center>
			
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/pages/about">About</a></li>
					<li><a href="/blog">Blogs</a></li>
	        		<li><a href="/pages/aboutJava.html">Java</a></li>
					<li><a href="/pages/links.html">Useful links</a></li>	        		
	    		</ul>
			
			<hr>
			
			{{ content }}
			
			<footer>
				<hr>
				<p>
					If something doesn't work correctly, write me an email to <a href="mailto:gobanit15@gmail.com">gobanit15@gmail.com</a>.
					<br>
					Last Build: {{ site.time | date: "%m/%d/%Y at %H:%M:%S" }}
				</p>
			</footer>
		</body>

