<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.main_title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<center>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/pages/aboutJava.html">CV</a></li>
	        		<li><a href="/blog">Blogs</a></li>
	    		</ul>
			</nav>
			<hr>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			</center>
			
			<footer>
				<center>
				<hr>
				<p>
					If something doesn't work correctly, write me an email to <a href="mailto:gobanit15@gmail.com">gobanit15@gmail.com</a>
					<br>
					You can find more projects on my <a href="https://github.com/gobanit">GitHub Site</a>.
					</p>
			</center>
			</footer>
		</body>
	</html>
